<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>delete customer</title>
</head>
<body>
<h1>delete customer</h1>
<p>  are u sure u wanan delete this customer</p>
<p>
    <strong th:text="${customer.firstName}">firstname</strong>
    <strong th:text="${customer.lastName}">last name</strong>
</p>


<form th:action="@{/customers/{id}/delete(id=${customer.id})}"
      method="post"
      style="">
    <button type="submit">ja,  delete</button>
    <a th:href="@{/customers}">cancel</a>
</form>


</p>
</body>
</html>