<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
    <h1>Create customer</h1>
    <form th:action="@{/customers/new}" th:object="${customer}" method="post">
        <div>
            <label>First name</label>
            <label>
                <input type="text" th:field="*{firstName}">
            </label>
        </div>
        <div>
            <label>Last name</label>
            <label>
                <input type="text" th:field="*{lastName}">
            </label>
        </div>
        <div>
            <label>Email</label>
            <label>
                <input type="email" th:field="*{email}">
            </label>
        </div>
        <div>
            <label>Phone</label>
            <label>
                <input type="text" th:field="*{phone}">
            </label>
        </div>
        <button type="submit">Save</button>
        <a th:href="@{/customers}">Cancel</a>
    </form>
</body>
</html>