<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create booking</title>
</head>
<body>
    <h1>Create booking</h1>
    <p th:if="${errorMessage}"
       th:text="${errorMessage}"
       style="color:red;">
    </p>
    <form th:action="@{/bookings/new}" th:object="${booking}" method="post">
        <div>
            <label>Customer</label>
            <label>
                <select th:field="*{customerId}">
                    <option value="">Select customer</option>
                    <option th:each="c : ${customers}"
                            th:value="${c.id}"
                            th:text="${c.email}">
                    </option>
                </select>
            </label>
        </div>
        <div>
            <label>Room</label>
            <label>
                <select th:field="*{roomId}">
                    <option value="">Select room</option>
                    <option th:each="r : ${rooms}"
                            th:value="${r.roomId}"
                            th:text="'Room ' + ${r.roomId} + ' - ' + ${r.roomType} + ' (extra beds: ' + ${r.extraBeds} + ')'">
                    </option>
                </select>
            </label>
        </div>
        <div>
            <label>Check in</label>
            <label>
                <input type="date" th:field="*{checkInDate}" />
            </label>
        </div>
        <div>
            <label>Check out</label>
            <label>
                <input type="date" th:field="*{checkOutDate}" />
            </label>
        </div>
        <div>
            <label>Guests</label>
            <label>
                <input type="number" th:field="*{numberOfGuests}" min="1"/>
            </label>
        </div>

        <button type="submit">Save</button>
        <a th:href="@{/bookings}">Cancel</a>
    </form>
</body>
</html>