<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rooms</title>
</head>
<body>
<h1>ROoms</h1>
<a th:href="@{/rooms/new}"> Add room</a>
<p th:if="${rooms.isEmpty()}">no rooms found.</p>

<table th:if="${!rooms.isEmpty()}">
    <thead>
    <tr>
        <th>room id</th>
        <th>room type</th>
        <th>extra beds</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text = "${room.roomId}">id</td>
        <td th:text="${room.roomType}">type</td>
        <td th:text="${room.extraBeds}">beds</td>
        <td>
            <!--
                Blir
                /customers/3/edit
            -->
            <a th:href="@{/rooms/{id}/edit(id=${room.roomId})}">Edit</a>

            <a th:href="@{/rooms/{id}/delete(id=${room.roomId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/rooms}">Back to menu</a>
</body>
</html>