<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create room</title>
</head>
<body>
<h1>Create room</h1>
<form th:action="@{/rooms/new}" th:object="${room}" method="post">
    <label>Room type</label>

    <select th:field="*{roomType}">
        <option th:each="type : ${roomTypes}"
                th:value="${type}"
                th:text="${type}">
        </option>
    </select>
    <div>
        <label>extra beds</label>
        <input type="number" th:field="*{extraBeds}">
    </div>

    <button type="submit">Save</button>

    <a th:href="@{/rooms/list}">Cancel</a>
</form>
</body>
</html>